name: mirror
on:
  push:
    branches: [main]
    tags: ["*"]

jobs:
  gitlab-com:
    runs-on: ubuntu-latest
    env:
      REMOTE: mirror
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          # Need all to fetch all tags so we can push them
          fetch-depth: 0
          # Required so they can be pushed too
          lfs: true

      - name: Add Remote
        env:
          CLONE_URL: "https://releaser-pleaser:${{ secrets.GITLAB_COM_PUSH_TOKEN }}@gitlab.com/apricote/releaser-pleaser.git"
        run: git remote add $REMOTE $CLONE_URL

      - name: Push Branches
        run: git push --force --all --verbose $REMOTE

      - name: Push Tags
        run: git push --force --tags --verbose $REMOTE
