name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3

      - name: Prepare ko
        run: |
          echo "${{ github.token }}" | ko login ghcr.io --username "dummy" --password-stdin

          repo=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "KO_DOCKER_REPO=ghcr.io/${repo}"
          echo "KO_DOCKER_REPO=ghcr.io/${repo}" >> $GITHUB_ENV

      - run: ko build --bare --tags ${{ github.ref_name }} github.com/apricote/releaser-pleaser/cmd/rp
